@font-face{font-family:'tweetdeckregular';src:url("/web/assets/fonts/tweetdeck-regular-webfont.3e30b87448.eot");src:url("/web/assets/fonts/tweetdeck-regular-webfont.3e30b87448.eot?#iefix") format("embedded-opentype"),url("/web/assets/fonts/tweetdeck-regular-webfont.8bd65edf75.woff") format("woff"),url("/web/assets/fonts/tweetdeck-regular-webfont.50ce7a962a.ttf") format("truetype"),url("/web/assets/fonts/tweetdeck-regular-webfont.492b6e1a97.svg#tweetdeckregular") format("svg");font-weight:normal;font-style:normal}
