<h3>2Zeus URL Shortener</h3>
<p id="error"></p>
<div><strong>Shortcut</strong>: <input type="text" id="shortcut" /></div>
<div><strong>Compression</strong>: <span id="compression">-</span></div>
<div><strong>Hits</strong>: <span id="hits">-</span></div>
<div><strong>Created</strong>: <span id="created">-</span></div>
<iframe id="hidden" src="about:blank"></iframe>

<style>
body {
    font-family: Verdana, Arial, Sans-serif;
    font-size: 10pt;
    min-width: 250px;
}
#hidden { display: none; }
#error { color: #a00; }
</style>

<script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script>
var _2zeus = {
    icons: {
        'default': 'img/icon19.png',
        'loading': 'img/loading.gif'
    },
    generate: function() {
        chrome.tabs.getSelected(null, function(tab) {
            _2zeus.getShortcut(tab.url)
        });
    },
    getShortcut: function(href) {
        /**
         * Attempts to retrieve the 2Zeus URL for the specified location
         **/

        var dmn = '2ze.us';

        $.ajax({
            type: 'POST',
            url: 'http://' + dmn + '/generate/',
            data: {
                url: href
            },
            dataType: 'json',
            success: function(json, status) {
                var obj = json.url;
                $('#shortcut').val(obj.shortcut);
                $('#compression').text(obj.compression);
                $('#hits').text(obj.hit_count);
                $('#created').text(obj.date_created);

                // Now copy to the clipboard
                var txt = document.getElementById('shortcut');
                txt.select();
                document.execCommand('Copy');
            },
            error: function(xhr, status, err) {
                $('#error').text(err);
            }
        });
    },
    generateFromKeyboard: function(e) {
        if (e.which == '90') {
            _2zeus.generate();
        }
    },
    init: function() {
        _2zeus.generate();
    }
};

_2zeus.init();
window.addEventListener('keyup', _2zeus.generateFromKeyboard, false);
</script>

