<!--
    Copyright 2010 Google Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<style type="text/css">
body {
  padding: 0px;
  margin: 1px;
  min-width: 320px;
  overflow: hidden;
  background-image: -webkit-gradient(radial, 50% 10%, 10, 50% 10%, 400, from(#f1f8eb), to(#FFF));
}

td {
  font-family: verdana;
  font-size: 12px;
  color: black;
}
</style>

<script src="chrome_ex_oauthsimple.js"></script>
<script src="chrome_ex_oauth.js"></script>
<script src="send_logic.js"></script>
<script>
function loadHandler() {
  document.getElementById('help').innerHTML = chrome.i18n.getMessage('help_message');
  
  if (oauth.hasToken()) {
    document.getElementById('msg').innerHTML = chrome.i18n.getMessage('sending_message');
    document.getElementById('signout').innerHTML = chrome.i18n.getMessage('sign_out_message');

    chrome.tabs.getSelected(null, function(tab) {
      if (tab.url.indexOf('http:') == 0 ||
        tab.url.indexOf('https:') == 0) {
        chrome.tabs.executeScript(null, {file: "content_script.js"});
      } else {
        document.getElementById('msg').innerHTML = chrome.i18n.getMessage('invalid_scheme_message');
      }
    });
  } else {
    // we need the options page to show signin           
    activateSignInLink("chrome.tabs.create({url: 'oauth_interstitial.html'})");
  }   
}

function sendToPhoneListener(status, responseText) {
  if (status == STATUS_SUCCESS) {
    document.getElementById('msg').innerHTML = chrome.i18n.getMessage('sent_message');
    activateSignOutLink();  
  } else if (status == STATUS_LOGIN_REQUIRED) {
    activateSignInLink("chrome.tabs.create({url: 'help.html?fromPopup=1'})"); // token revoked    
  } else if (status == STATUS_DEVICE_NOT_REGISTERED) {
    document.getElementById('msg').innerHTML = chrome.i18n.getMessage('device_not_registered_message');
    activateSignOutLink();
  } else { 
    document.getElementById('msg').innerHTML =  
        chrome.i18n.getMessage('error_sending_message', responseText);
    activateSignOutLink();
  }
}

chrome.extension.onConnect.addListener(function(port) {
  // This will get called by the content script. We go through
  // these hoops to get the optional text selection.
  port.onMessage.addListener(function(info) {
    var msgType = (info.selection && info.selection.length > 0) ? 'selection' : 'page';
    sendToPhone(info.title, info.url, msgType, info.selection, sendToPhoneListener);
  });
});

function setSignOutVisibility(visible) {
  var signOutLink = document.getElementById('signout');
  signOutLink.style.visibility = visible ? 'visible' : 'hidden';
  var sep = document.getElementById('sep');
  sep.style.visibility = visible ? 'visible' : 'hidden';
}

function activateSignOutLink() {
  setSignOutVisibility(true);
  var signOutLink = document.getElementById('signout');
  signOutLink.innerHTML = chrome.i18n.getMessage('sign_out_message');
  signOutLink.style.color = 'blue';
  signOutLink.onclick = function() {
    chrome.extension.getBackgroundPage().closeBrowserChannel();
    oauth.clearTokens();
    window.close();
  }
}

function activateSignInLink(onclick) {
  var link = '<a href="#" onclick="' + onclick + '">' +
  chrome.i18n.getMessage('sign_in_message') + '</a>';
  document.getElementById('msg').innerHTML =
      chrome.i18n.getMessage('sign_in_required_message', link);
  setSignOutVisibility(false);
}

</script>

<body onload="loadHandler()">
<table>
  <tr>
    <td><img src="icon_48.png" style="margin-right: 4px;"/></td>
    <td width="100%" valign="middle">
      <b><div id="msg"></div></b>
      <p><a id="help" href="#" onclick="chrome.tabs.create({url: 'help.html'})"></a> <span id="sep">|</span>
      <a id="signout" href="#" style="color: gray;"></a></p>
    </td>
    <td valign="top"><a href="#" onclick="window.close()"><img src="popup_close.png" style="margin: 2px;"></a></td>
  </tr>
</table> 
</body>
