<!DOCTYPE html>
<html>
<head>
    <title>TweetDeck</title>
    <link rel="stylesheet" href="/web/css/notification.38b3c985ae.css">
</head>
<body class="s-default">

    <div id="chirp" rel="showChirp"></div>
    <div class="nfn-nav">
        <a href="#" id="columnTitle" rel="showColumn"></a>
        <a href="#" id="pagePrev"><strong>&larr;</strong></a>
        <a href="#" id="pageNext"><span id="pageValTxt">{{_i}}next{{/i}}</span> <strong>&rarr;</strong></a>
    </div>

    <script type="text/javascript" src="/web/scripts/notifications.6296230837.js"></script>
</body>
</html>
